@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy", sans-serif;
}

$background : conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
$primary-color : #272727;
$secondary-color: #efefef;
$text-color: #fff;

// @function text-color($color) {
//     @if(background = ligten())
// }